* {
  font-family: Roboto;
  box-sizing: border-box;
}

.jobs-bg {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
}

.jobs-left-navbar-bg {
  min-width: 25%;
  padding: 18px;
}

@media (min-width: 1200px) {
  .jobs-bg {
    padding: 0px 100px;
  }

  .jobs-left-navbar-bg {
    width: 30%;
  }
}

.profile-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 22px;
  width: 100%;
  min-height: 200px;
  padding: 22px;
}

@media (max-width: 767px) {
  .profile-bg {
    background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    padding: 22px;
  }
}

.profile-img {
  width: 50px;
  height: 50px;
}

.profile-h1 {
  color: #4f46e5;
  font-size: 28px;
  margin-top: 16px;
  font-weight: 500;
}

.profile-p {
  color: #475569;
  font-size: 16px;
  margin-bottom: 0px;
}

.profile-failure-bg {
  border-radius: 22px;
  width: 100%;
  height: 200px;
  padding: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .profile-failure-bg {
    width: 100%;
  }
}

.retry-btn {
  background-color: #6366f1;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.hr-line {
  border: 2px solid #64748b;
  margin-top: 28px;
  margin-bottom: 22px;
  border-radius: 100px;
}

.list-hading {
  color: #f8fafc;
  font-size: 22px;
  font-weight: 400;
}

.type-container {
  margin-bottom: 22px;
}

.check-box {
  margin-right: 10px;
  cursor: pointer;
}

.list-label {
  color: #ffffff;
}

/* right content bg css start here */

.content-bg {
  flex-grow: 1;
  padding: 18px;
}

.jobs-input-container,
.profile-input {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .jobs-input-container {
    display: none;
  }

  .profile-input {
    width: 100%;
    margin-bottom: 22px;
  }
}

@media (min-width: 767px) {
  .profile-input {
    display: none;
  }
}

.search-input {
  border: 2px solid #64748b;
  width: 50%;
  padding: 10px;
  background-color: transparent;
  color: #f8fafc;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.search-btn {
  background-color: #202020;
  border: 2px solid #64748b;
  padding: 10px;
  width: 60px;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.search-icon {
  color: #f8fafc;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .jobs-bg {
    flex-direction: column;
    padding: 0px;
  }

  .jobs-left-navbar-bg,
  .content-bg {
    width: 100%;
  }

  .search-input {
    width: 100%;
  }
}

/* empty List view css */

.empty-list-bg {
  margin-top: 22px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-jobs-img {
  width: 50%;
}

.no-job-h1 {
  color: #f8fafc;
  font-size: 24px;
}

.no-job-p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  text-align: center;
}

@media (max-width: 767px) {
  .empty-list-bg {
    padding: 32px;
  }
  .no-jobs-img {
    width: 100%;
  }

  .no-job-h1 {
    font-size: 19px;
    font-weight: 500;
  }

  .no-job-p {
    font-size: 16px;
  }
}

/* modifying css start here  */

.salary-range-list {
  list-style-type: none;
  padding: 0px;
}
