* {
  font-family: Roboto;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.job-card-bg {
  background-color: #121212;
  margin-top: 24px;
  padding: 24px;
  border-radius: 10px;
}

.company-logo-container {
  display: flex;
  align-items: center;
}

.job-card-logo {
  width: 70px;
  margin-right: 19px;
}

.job-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
}

.str-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.star-icon {
  color: #fbbf24;
  margin-right: 5px;
  font-size: 22px;
}

.job-location-container {
  margin-top: 28px;
  margin-bottom: 0px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-location-bg {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.location-icon {
  color: #ffffff;
  font-size: 24px;
}

.job-location-p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 5px;
}

.package-p {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}

.job-card-hr-line {
  border: 2px solid #64748b;
  margin-top: 5px;
  border-radius: 100px;
}

.job-description-h1 {
  color: #f8fafc;
  font-size: 28px;
  font-weight: 500;
}

.job-description-p {
  color: #f8fafc;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .job-card-logo {
    width: 60px;
  }

  .job-title {
    font-size: 22px;
  }

  .job-location-container {
    margin-top: 16px;
  }

  .location-icon {
    font-size: 16px;
  }

  .job-location-p {
    font-size: 16px;
  }

  .package-p {
    font-size: 18px;
  }

  .job-description-h1 {
    font-size: 20px;
    font-weight: 450;
  }

  .job-description-p {
    font-size: 16px;
    font-weight: 450;
    margin-top: 0px;
  }
}

/* modifying css */

.rating-container {
  display: flex;
  align-items: center;
}

.rating-p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin: 0px 5px;
}
