* {
  font-family: Roboto;
  box-sizing: border-box;
}

.header-desktop-bg {
  background-color: #202020;
  padding: 16px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 150px;
}

.header-ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
}

.header-ul-item {
  margin-right: 20px;
  color: #f8fafc;
  font-size: 18px;
  font-weight: 500;
}

.logout-btn {
  background-color: #6366f1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.menu-link {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header-desktop-bg {
    display: none;
  }
}

.header-mobile-bg {
  background-color: #202020;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon-container {
  display: flex;
  align-items: center;
}

.nav-icon {
  color: #ffffff;
  font-size: 30px;
  margin-right: 19px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header-logo {
    width: 80px;
  }
}

@media (min-width: 768px) {
  .header-mobile-bg {
    display: none;
  }
}
